html {
  scroll-behavior: smooth;
}
body{
    background-color: #1b1922;
}

.nav-container{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #1b1922;
}

.name {
    height: 70px;
    width: 600px;
    background-color: #201f2b;
    margin-right: 380px;
    margin-top: 10px;

}

.nametext{
    color: #d1cece;
    text-align: center;
    padding-top: -5px;
    padding-left: 20px;
    float:left;
    font-family: impact;
}

.navigators a{
    padding: 20px 20px;
    display: inline-block;
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Rounded corners */
    margin: 5px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    
}

.navigators a:hover{
    background-color: #1d1c26;
    height: 30px;
    padding-right: 20px;
    transform: translateX(-10px);
    color: white;
    box-shadow: 0 5px 15px #d7f9ff;
}

.main-page{
    height: 400px;
    width: 500px;
    margin-left: 800px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0);
}

.profile-img{
    width: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-top: 80px;
    margin-left: 200px;
}

.main-page-section {
    padding-top: 100px; 
    height: 500px;
    background-color: #23232e;
}


.main-page-text{
    height: 300px;
    width: 450px;
    padding-left: 40px;
    padding-top: 50px;
    color: #b1abab;
}

.main-page-text h1{
    font-size: 45px;
}

.main-page-text p{
    font-size: 15px;
    color: #b2b3b5;
}

.about {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    width: 1424px;
    height: 520px;
    background-color: #21222c;
    padding-top: 80px;
    box-shadow: 0 0 10px rgba(251, 250, 250, 0.1);

}

.about-content {
    flex: 1; /* Take up all available horizontal space */
    padding-right: 250px;
    padding-bottom: 400px;
    text-indent: 40px;
}

.about-image {
    flex: 1; /* Take up all available horizontal space */
    /*text-align: center;  Center the image horizontally within the div */
}

.musicpic {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    width: 400px;
    padding-right: 100px;
    padding-bottom:100px;
}



.about h1{
    color: #cfc4c4;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 300px;
}

.about p {
    color: #a2a3a5;
    margin-left: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.experience{
    background-color: #2d2e3c;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.experience-content {
    margin-left: 20px;
}
.experience h1{
    color: #ded1d1;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.experience h2,h3, h4{
    color: #999393;
    font-family: 'Times New Roman', Times, serif;
}

.experience h3{
    margin-left: 20px;
}

.experience h4{
    margin-top: 0; 
    margin-bottom: 0; 
    padding-left: 40px; 
    line-height: 1.3;
}

.experience p{
    margin-left: 50px;
    color: #999393;
}

.titleP{
    text-align: center;
}

.TTU-lab{
    box-shadow: 0 0 10px rgba(251, 250, 250, 0.1);
}

.left-part{
    flex: 1;
    max-width: 50%; /* Set a maximum width to prevent them from taking up the entire width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 20px; /* Add some padding to space them apart */
    box-shadow: 0 0 10px rgba(251, 250, 250, 0.1);
    float: left;

}

.right-part{
    flex: 1;
    max-width: 50%; /* Set a maximum width to prevent them from taking up the entire width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 20px; /* Add some padding to space them apart */
    box-shadow: 0 0 10px rgba(251, 250, 250, 0.1);
    float: right;
}

.weather-link{
    color: #b2b3b5;
    text-decoration: none;
}

.weather-link:hover{
    color: #ffffff;
}

.cont-title {
    background-image: url('images/contacts.jpg');
    width: 1425px;
    height: 300px;
}

.cont-title h1{
    color: #8a8f9a;
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
    font-family: Oswald;
    animation: Color 4s linear infinite;
    -webkit-animation: Color 4s ease-in-out infinite;
    text-shadow: 10px 10px #4b397b;
  }
  
  @keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  @-moz-keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  @-webkit-keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  }

  .contact-links{
    text-align: center;
    height: 100px;
    box-shadow: 0 0 10px rgba(251, 250, 250, 0.1);
  }

  .contact-links img{
        height: 50px;
        width: 50px;
        padding-right: 100px;
        padding-top: 30px;
        
  }

  .ancor {
    box-shadow: 0 0 10px rgba(251, 250, 250, 0.1);
    height: 80px;
  }

  .button-top{
    text-align: center;
  }
  .button-top a{
    text-align: center;
    width: 100px;
    text-decoration: none;
    color: #86b4c5;
    display: inline-block; /* Change to inline-block to allow dimension changes */
    padding: 15px 75px; /* Adjust padding for the desired button size */
    background-color: #314f59; 
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    box-shadow: 0 5px 15px #d7f9ff;
  }

  .button-top a:hover{
    background-color: #8cbeef;
    color: white;
    box-shadow: 0 5px 15px #d7f9ff;

  }

  @media (max-width: 900px){
    container h1{
      font-size: 2rem;
      text-align: center;
    }
    container .text-container{
      flex-direction: column;
    }
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 0.5s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  

